#Made by Mazen Mobtasem
#GO MY CODE EGYPT

Write a Python program which accepts the radius of a circle from the user and compute the area.
In geometry, the area enclosed by a circle of radius r is πr2. Here the Greek letter π represents a constant, approximately equal to 3.14159, which is equal to the ratio of the circumference of any circle to its diameter.

In [ ]:
import math
radius = int(input())
area = math.pi * radius **2
area

4

50.26548245743669

Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

Input your First Name : das
Input your Last Name : dasf
Hello  dasf das

Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]f

Red Black

Write a Python program to print out all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence.

Sample numbers list:

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [ ]:
for i in range(1000):
  if i%2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998

Write a Python program that will accept the base and height of a triangle and compute the area

In [ ]:
base = int(input("Enter the base of the triangle :"))
height = int(input("Enter the height of the triangle: "))
area = (base/2)* height
area

Enter the base of the triangle :4
Enter the height of the triangle: 2

4.0

Write a Python program to solve (x + y) * (x + y).

Test Data : x = 4, y = 3
Expected Output : (4 + 3) ^ 2) = 49

(4 + 3) ^ 2) = 49

Write a python program to find the sum of the first n positive integers.

Input a number: 4
10.0

Write a Python program to convert all units of time into seconds

In [ ]:
days = int(input("Days:"))
hours = int(input("Hours: "))
min = int(input("Min:"))
sec = int(input("Sec:"))
total = (days*24*60*60) + (hours*60*60) + (min*60) + (sec)
total

Days:2
Hours: 3
Min:17
Sec:6

184626

Write a Python program to count the number of even and odd numbers from a series of numbers.

Number of even numbers : 4
Number of odd numbers : 5

Write a Python program to convert temperatures to and from celsius, fahrenheit.

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 45F
The temperature in Celsius is 7 degrees.